#workbenchPageContent {
    max-width: 100%;
}

.content_3f3fd3c2,
.CanvasZone {
    padding: 0 !important;
    max-width: 100% !important;
}
a.fc-col-header-cell-cushion{
    color:#000;
    text-decoration: none;
}
.fc .fc-daygrid-day-number {
    color:#000;
    text-decoration: none;
}
.fc-button {
    background: #007ca2 !important;
    border-color: #007ca2 !important;
}
  .fc-scroller{
    overflow: hidden !important;
  }
  .ms-Dropdown{
    width: 195px !important;
  }